
.topbar__user__login .sign-up-link { display: none; }

.button--SomEnergia {
  background-color: #bac92a;
  font-size: 1.5rem;
  &:hover { background-color: #c0c96b; }
}

.button-login {
  text-align: left;
  display: block;
  color: white;
  width: 100%;
}

.login__box {
  display: none;
}
