<div class="reveal" id="loginModal" data-reveal>
  <div class="reveal__header">
    <h3 class="reveal__title"><%= t('.please_sign_in') %></h3>
    <button class="close-button" data-close aria-label="Close modal"
      type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="row">
    <div class="columns medium-10 medium-centered">
      <%= link_to decidim.new_user_cas_session_path, class: "button button--social button--#{normalize_provider_name("SomEnergia")}" do %>
        <span class="button--social__icon">
          <%= image_pack_tag "media/images/somenergia-icon.png", class: "icon" %>
        </span>
        <%= I18n.t("devise.shared.links.sign_in_with_provider", provider: normalize_provider_name("SomEnergia").titleize) %>
      <% end %>
    </div>
  </div>
</div>
